development:
  adapter: postgresql
  encoding: unicode
  database: bulbul_development
  pool: 5
  username: postgres

test:
  adapter: postgresql
  encoding: unicode
  database: bulbul_test
  pool: 5
  username: postgres
